@import url('https://fonts.googleapisgray.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
   --yellow: #fed330;
   --red: #e74c3c;
   --white: #fff;
   --black: #222;
   --light-color: #777;
   --border: .2rem solid var(--black);
   --Celadon: #AFE1AF;

   /* website colour choice */
   --taupe-gray: #8E9189;
   --purple-taupe: #494449;
   --rocket-metallic: #857F74;
   --isabelline: #EEEFEB;
   --pale-spring-bud: #DDEAC1;
}

* {
   font-family: 'Montserrat', sans-serif; /* Changed font-family to Montserrat */
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   transition: .2s linear;
}

*::selection{
   background-color: var(--rocket-metallic);
   color:var(--black);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: var(--taupe-gray);
}

::-webkit-scrollbar-thumb{
   background-color: var(--pale-spring-bud);
   border-radius: 5rem;
}

section{
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
}

.delete-btn,
.btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1.3rem 3rem;
   cursor: pointer;
   font-size: 2rem;
   text-transform: capitalize;
}

.delete-btn{
   background-color: var(--red);
   color:var(--white);
}

.btn{
   background-color: var(--yellow);
   color:var(--black);
}

.delete-btn:hover,
.btn:hover{
   letter-spacing: .2rem;
}

.title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 4rem;
   color:var(--red);
   text-transform: uppercase;
   text-decoration: underline;
   text-underline-offset: 1rem;
}

.heading{
   background-color: var(--black);
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   flex-flow: column;
   min-height: 20rem;
}

.heading h3{
   font-size: 4rem;
   color:var(--white);
   text-transform: capitalize;
}

.heading p a{
   font-size: 2rem;
   color:var(--yellow);
}

.heading p span{
   font-size: 2rem;
   color:var(--light-color);
}

.heading p a:hover{
   color:var(--white);
}

/*navbar*/
.header{
   position: sticky;
   top:0; left:0; right: 0;
   z-index: 1000;
   border-bottom: var(--border);
   background-color: var(--isabelline);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--white);
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--white);
}

.header .flex .navbar a:hover{
   color:var(--Celadon);
}

.header .flex .icons > *{
   font-size: 2.5rem;
   color:var(--white);
   margin-left: 1.5rem;
   cursor: pointer;
}

.header .flex .icons > *:hover{
   color:var(--Celadon);
}

.header .flex .navbar a {
   margin: 2rem;
   font-weight: bold; /* Add this line */
}

@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
   }
}

#menu-btn{
   display: none;
}

/* Home Video START */
.video-container { /* Ensures the video container fills the entire viewport and is fixed */
   position: relative;
   width: 100%;
   height: 100vh; /* Set to the desired height */
   overflow: hidden;
}

.video-container video {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -1; /* Ensure the video stays in the background */
   background-size: cover;
}

.video-overlay-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2; /* Above the video */
   color: var(--white); /* Choose a text color that stands out over your video */
   font-size: 4rem; /* Adjust size as needed */
   font-family: Cursive;
   font-weight: bold;
   text-align: center;
   /* Add other styling as needed */
}
/* Home Video END */

/* Home Slider START*/
.home .slide{
   display: flex;
   flex-wrap: wrap-reverse;
   gap:1.5rem;
   align-items: center;
   margin-bottom: 4rem;
}

.home .slide .content{
   flex:1 1 40rem;
   text-align: center;
}

.home .slide .image{
   flex:1 1 40rem;
}

.home .slide .image img{
   width: 100%;
}

.home .slide .content span{
   font-size: 2.5rem;
   color:var(--red);
}

.home .slide .content h3{
   font-size: 5rem;
   text-transform: capitalize;
   color:var(--black);
   padding:1rem 0;
}

.swiper-pagination-bullet-active{
   background-color: var(--yellow);
}
/* Home Slider END*/



.category .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.category .box-container .box{
   border:var(--border);
   padding:2rem;
   text-align: center;
}

.category .box-container .box img{
   width: 100%;
   height: 10rem;
   object-fit: contain;
}

.category .box-container .box h3{
   margin-top: 2rem;
   font-size: 2rem;
   color:var(--Celadon);
}

.category .box-container .box:hover{
   background-color: var(--black);
}

.category .box-container .box:hover img{
   filter: invert();
}

.category .box-container .box:hover h3{
   color:var(--white);
}

.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.products .box-container .box{
   position: relative;
   border:var(--border);
   padding:2rem;
   overflow: hidden;
}

.products .box-container .box .fa-eye,
.products .box-container .box .fa-shopping-cart{
   position: absolute;
   top:1rem;
   display: block;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.3rem;
   font-size: 2rem;
   border:var(--border);
   background-color: var(--taupe-gray);
   cursor: pointer;
   color:var(--black);
   text-align: center;
}

.products .box-container .box .fa-eye{
   left: -10rem;
}

.products .box-container .box .fa-shopping-cart{
   right: -10rem;
}

.products .box-container .box:hover .fa-eye{
   left: 1rem;
}

.products .box-container .box:hover .fa-shopping-cart{
   right: 1rem;
}

.products .box-container .box .fa-eye:hover,
.products .box-container .box .fa-shopping-cart:hover{
   background-color: var(--black);
   color:var(--black);
}


.products .box-container .box img{
   height: 25rem;
   width: 100%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.products .box-container .box .cat{
   font-size: 1.7rem;
   color:var(--light-color);
}

.products .box-container .box .cat:hover{
   color: var(--yellow);
}

.products .box-container .box .name{
   font-size: 2rem;
   margin:1rem 0;
   color:var(--black);
}

.products .box-container .box .flex{
   display: flex;
   align-items: center;
   gap:1rem;
}

.products .box-container .box .flex .price{
   margin-right: auto;
   font-size: 2.5rem;
   color:var(--black);
}

.products .box-container .box .flex .price span{
   font-size: 1.8rem;
   color:var(--light-color);
}

.products .box-container .box .flex .qty{
   padding:1rem;
   font-size: 1.8rem;
   border:var(--border);
   color:var(--black);
   width: 7rem;
}

.products .box-container .box .flex .fa-edit{
   width: 5rem;
   background-color: var(--yellow);
   color:var(--black);
   cursor: pointer;
   height: 4.5rem;
   font-size: 2rem;
   border:var(--border); 
}

.products .box-container .box .flex .fa-edit:hover{
   background-color: var(--black);
   color:var(--black);
}

.products .box-container .box .sub-total{
   margin-top: 1rem;
   font-size: 1.7rem;
   color:var(--light-color);
}

.products .box-container .box .sub-total span{
   color:var(--black);
}

.products .box-container .box .fa-times{
   font-size: 2rem;
   background-color: var(--red);
   color:var(--white);
   height: 4.5rem;
   position: absolute;
   top:1rem; right:1rem;
   width: 4.5rem;
   line-height: 4.3rem;
   height: 4.5rem;
   cursor: pointer;
   border:var(--border);
}

.products .box-container .box .fa-times:hover{
   background-color: var(--black);
}

.products .more-btn{
   margin-top: 2rem;
   text-align: center;
}

.products .cart-total{
   border:var(--border);
   padding:1rem 2rem;
   margin-top: 1rem;
   margin-bottom: 2rem;
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: center;
}

.products .cart-total p{
   margin-right: auto;
   font-size: 2rem;
   color:var(--light-color);
}

.products .cart-total p span{
   color:var(--black);
}

.products .cart-total .btn{
   margin-top: 0;
}

.about .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.about .row .image{
   flex:1 1 40rem;
}

.about .row .image img{
   width: 100%;
}

.about .row .content{
   flex:1 1 40rem;
   text-align: center;
}

.about .row .content h3{
   font-size: 3rem;
   text-transform: capitalize;
   color:var(--black);
}

.about .row .content p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}

.reviews .slide{
   margin-bottom: 4rem;
   border:var(--border);
   text-align: center;
   padding:2rem;
}

.reviews .slide img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
}

.reviews .slide p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}

.reviews .slide .stars{
   margin-top: .5rem;
}

.reviews .slide .stars i{
   font-size:1.7rem;
   color:var(--yellow);
}

.reviews .slide h3{
   font-size: 2rem;
   color:var(--black);
   margin-top: 1.5rem;
}
.contact-info h3 {
   font-size: 32px;
   color: #000; /* Change the color */
   margin-right: 8px; /* Add some spacing to the right of the icon */
 }
.contact-info {
   font-size: 24px; /* Adjust the font size as needed */
 }
.contact-info i {
   font-size: 24px;
   color: #333; /* Change the color */
   margin-right: 8px; /* Add some spacing to the right of the icon */
 }
.contact .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.contact .row .image{
   flex:1 1 40rem;
}

.contact .row .image img{
   width: 100%;
}

.contact .row form{
   border:var(--border);
   flex:1 1 40rem;
   padding:2rem;
   text-align: center;
}

.contact .row form h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: capitalize;
   margin-bottom: 1rem;
}

.contact .row form .box{
   width: 100%;
   border:var(--border);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   margin:.5rem 0;
}

.contact .row form textarea{
   height: 15rem;
   resize: none;
}

.steps .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.steps .box-container .box{
   text-align: center;
   padding:2rem;
   border:var(--border);
}

.steps .box-container .box img{
   height: 15rem;
   margin-bottom: 1rem;
   width: 100%;
   object-fit: contain;
}

.steps .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   margin:1rem 0;
   text-transform: capitalize;
}

.steps .box-container .box p{
   font-size: 1.6rem;
   color:var(--light-color);
   line-height: 2;
}

.search-form form{
   display: flex;
   gap:1rem;
}

.search-form form input{
   width: 100%;
   padding:1.4rem;
   font-size: 1.8rem;
   border:var(--border);
   color:var(--black);
}

.search-form form button{
   width: 6rem;
   font-size: 2rem;
   background-color: var(--black);
   color:var(--white);
   cursor: pointer;
}

.search-form form button:hover{
   background-color: var(--yellow);
   color:var(--black);
}

.user-details .user{
   border:var(--border);
   padding:2rem;
   max-width: 40rem;
   margin:0 auto;
}

.user-details .user img{
   width: 100%;
   height: 15rem;
   object-fit: contain;
   margin-bottom: 2rem;
}

.user-details .user p{
   line-height: 1.5;
   margin-bottom: .5rem;
   font-size: 2rem;
}

.user-details .user p span{
   color:var(--black);
}

.user-details .user i{
   margin-right: .7rem;
   color:var(--light-color);
}

.user-details .user p.address{
   margin-top: 2rem;
}

.form-container form{
   max-width: 50rem;
   margin:0 auto;
   border:var(--border);
   padding:2rem;
   text-align: center;
}

.form-container form h3{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   text-transform: uppercase;
   color:var(--black);
}

.form-container form .box{
   margin:1rem 0;
   padding:1.4rem;
   color:var(--black);
   border:var(--border);
   font-size: 1.8rem;
   width: 100%;
}

.form-container form p{
   margin-top: 1.5rem;
   font-size: 2rem;
   color:var(--light-color);
}

.form-container form p a{
   font-size: 2rem;
   color:var(--red);
}

.form-container form p a:hover{
   color:var(--black);
}

.checkout form{
   max-width: 50rem;
   margin:0 auto;
   border:var(--border);
   padding:2rem;
}

.checkout form .cart-items{
   background-color: var(--black);
   padding:2rem;
}

.checkout form .cart-items h3{
   font-size: 2.5rem;
   color:var(--white);
   text-transform: capitalize;
   margin-bottom: 2rem;
}

.checkout form .cart-items p{
   display: flex;
   gap:1.5rem;
   align-items: center;
   justify-content: space-between;
   margin:1rem 0;
   line-height: 1.5;
   font-size: 2rem;
}

.checkout form .cart-items p .name{
   color:var(--white);
}

.checkout form .cart-items p .price{
   color:var(--yellow);
}

.checkout form .cart-items .grand-total{
   background-color:var(--white);
   padding:1rem;
}

.checkout form .cart-items .grand-total .name{
   color:var(--black);
}

.checkout form .cart-items .grand-total .price{
   color:var(--red);
}

.checkout form .user-info h3{
   font-size: 2.5rem;
   margin: 2rem 0;
   color:var(--black);
   text-transform: capitalize;
}

.checkout form .user-info p{
   line-height: 1.5;
   font-size: 2rem;
   margin:1rem 0;
}

.checkout form .user-info p span{
   color:var(--black);
}

.checkout form .user-info p i{
   color:var(--light-color);
   margin-right: .7rem;
}

.checkout form .user-info .box{
   width: 100%;
   border:var(--border);
   padding:1.4rem;
   color:var(--black);
   font-size: 1.8rem;
   margin-top: 2rem;
}

.checkout form .order-btn{
   margin-top: 2rem;
   width: 100%;
   background-color: var(--black);
   color:var(--white);
}

.orders .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.orders .box-container .box{
   border:var(--border);
   padding:1rem 2rem;
}

.orders .box-container .box p{
   font-size: 2rem;
   color:var(--light-color);
   line-height: 2;
}

.orders .box-container .box p span{
   color:var(--black);
}
        /* Add border styling to the button */
        .btn-order {
         border: 2px solid #333; /* Change border color and width as desired */
         padding: 10px 20px; /* Adjust padding as needed */
         background-color: #fff; /* Button background color */
         color: #333; /* Button text color */
         font-size: 16px; /* Adjust font size as needed */
         cursor: pointer;
         transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
     }

   /* Add hover effect */
.btn-order:hover {
      background-color: #333; /* Change background color on hover */
      color: #fff; /* Change text color on hover */
      border-color: #333; /* Change border color on hover */
}

/* Add zoom effect to product images */
.food-thumbnail {
   transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
   }

.food-thumbnail:hover {
   transform: scale(1.3); /* Zoom in by 10% on hover */
}

/* Center align products */
.box-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px; /* Adjust spacing between products */
   padding: 20px; /* Add padding around products */
}

.food-product {
   border: 1px solid #333;
   background-color: var(--white);
   padding: 20px;
   margin-bottom: 20px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   transition: box-shadow 0.3s ease-in-out;
   box-sizing: border-box;
   border-radius: 8px;

   background-image: url('images/Icons/menu_background.jpg'); /* Add your image path here */
   background-size: cover; /* This will make sure that your background covers the entire element */
   background-position: center; /* This will center your background image */

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center; /* This will center the text elements */
}

.food-product:hover {
   box-shadow: 0 6px 30px rgba(255,0,0,0.7); /* Changes the shadow on hover */
}


/* Style for the overall footer */
.footer {
   background-color: var(--black);
   text-align: center;
   padding: 3rem 2rem;
   font-size: 2rem;
   color: var(--white);
}

/* Specific style for the credit section */
/* Style for each section in the credit div to stack them */
.footer .credit > div {
   margin-bottom: 2rem; /* Spacing between stacked items */
}

/* Style for the last element to remove extra bottom margin */
.footer .credit > div:last-child {
   margin-bottom: 0;
}

/* Style for the "Website by" credit */
.footer .credit .website-credit {
   margin-bottom: 1rem; /* Spacing between this and the next item */
}

/* Style for the span within the "Website by" credit */
.footer .credit .website-credit span {
   color: var(--Celadon);
}

.footer .credit .footer-link a,
.footer .credit .footer-icon a {
    display: inline-block; /* Restricts the clickable area to the content's width */
    text-decoration: none;
    color: var(--white);
    padding: 0.5rem 1rem; /* Optional: Adds some padding around the text and icon */
    margin: 0 auto; /* Centers the inline-block horizontally */
    line-height: normal; /* Adjusts line height to fit your design */
}

/* Style for the Instagram icon */
.footer .credit .footer-icon i {
   font-size: 24px;
   display: inline-block; /* Center the icon horizontally */
   margin: 0 auto; /* Additional centering for the icon */
}


.loader{
   position: fixed;
   top:0; left:0; right:0; bottom: 0;
   background-color: var(--white);
   z-index: 10000;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loader img{
   width: 35rem;
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--rocket-metallic);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .title{
      font-size: 3rem;
   }

   .header .flex .logo{
      font-size: 2rem;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

   .icons {
      display: flex; /* Use flexbox to arrange icons */
      align-items: center; /* Center items vertically */
   }
   
   .user-name {
      margin-right: 10px; /* Add spacing between user name and icons */
   }
   .error-message {
      background-color: #f8d7da;
      color: #721c24;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
  }
  .btn-return-signup {
   display: inline-block;
   padding: 10px 20px;
   margin: 10px 0;
   background-color: #007bff; /* Primary color for the button */
   color: #ffffff; /* Text color */
   text-align: center;
   text-decoration: none;
   border-radius: 5px;
   transition: background-color 0.3s;
}

.btn-return-signup:hover {
   background-color: #0056b3; /* Darker shade for hover effect */
   color: #ffffff;
}



  /* .btn-return-signup {
      background-color: red;
      color: white;
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 5px;
  }
  
  .btn-return-signup:hover {
      background-color: #dc3545;
  } */

  .controls {
   text-align: center;
   margin-top: 1rem;
}

.controls .prev-btn,
.controls .next-btn {
   padding: 0.5rem 1rem;
   margin: 0 0.5rem;
   cursor: pointer;
}

/* CART START? */
/* Add border styles for the buttons */
.btn-order,
.btn-delete {
    border: 2px solid #333; /* Border color */
    padding: 10px 20px; /* Padding around the buttons */
    background-color: #fff; /* Button background color */
    color: #333; /* Button text color */
    font-size: 16px; /* Font size */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect */
.btn-order:hover,
.btn-delete:hover {
    background-color: #333; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
    border-color: #333; /* Change border color on hover */
}
/* CART END? */
/* Navigation link styles */
.navbar a {
   padding: 10px 15px; /* Adjust padding as needed */
   transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
   color: white; /* Default text color, change as needed */
   text-decoration: none; /* Remove underline from links */
}

/* Hover effect for navigation links */
.navbar a:hover {
   background-color: red; /* Highlight color on hover */
   color: white; /* Text color on hover, change if needed */
   border-radius: 5px; /* Rounded corners for the highlight, optional */
}

/* Active link styles */
.active {
   box-shadow: inset 0 -4px 0 0 red; /* Keeps the active item highlighted with a bottom border */
   background-color: red; /* Optional: if you want to highlight the active item with background color as well */
   color: white; /* Active item text color, change if needed */
}


 




}